
<div style="display:flex; flex-wrap: wrap;">
    <% @articles.each do |article| %>

      <div class="mdl-card mdl-shadow--2dp margin-bottom-40 margin-right-20 min-width-400">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text"><%= link_to article.title, article, class: 'text-decoration-none color-inherit' %></h2>
        </div>
        <div class="mdl-card__supporting-text">
          <p>
            <i>by <%= link_to article.user, user_path(article.user) %>, 
            <%=l article.updated_at, format: :short %></i>
          </p>
          <%= article.description[0,300] %>...  
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%= link_to 'More', article, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
          <% if can? :manage, article %>
            <%= link_to 'Edit', edit_article_path(article), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
          <% end %>
        </div>
      </div>

    <% end %>
</div>

<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <%= link_to new_article_path do %>
    <i class="material-icons">add</i>
  <% end %>
</button>