<p id="notice"><%= notice %></p>

<h1>All Users</h1>

<%= form_tag(users_path, method: :get, local: true, class: 'margin-bottom-40') do %>
  
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= text_field_tag :query, params[:query], id: 'query',  class: "mdl-textfield__input"  %>
    <label class="mdl-textfield__label" for="query">Suche nach Usern</label>
  </div>

  
  <%= submit_tag "Suche", class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>

<% end %>


<div class="margin-bottom-40">
<p>Just so you know: you searched for <kbd><%= @sql_query %></kbd>
</div>


<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th class="mdl-data-table__cell--non-numeric">Email</th>
      <th class="mdl-data-table__cell--non-numeric">Password</th>
      <th class="mdl-data-table__cell--non-numeric">Homepage</th>
      <% if can? :manage, User %>
      <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= user.name %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= user.email %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= user.password %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to user.homepage, user.homepage %></td>
        <% if can? :manage, user %>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Show', user, class: 'mdl-button mdl-js-button mdl-js-ripple-effect' %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Edit', edit_user_path(user), class: 'mdl-button mdl-js-button mdl-js-ripple-effect'  %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: 'mdl-button mdl-js-button mdl-js-ripple-effect'  %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <%= link_to new_user_path do %>
    <i class="material-icons">+</i>
  <% end %>
</button>
